<a href="https://colab.research.google.com/github/jeniferGoncalvesDaSilvaDev/7daysofcode-ds-alura2/blob/main/desafio_7daysofcode_ds_alura.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:


# Lista de arquivos CSV
lista_csv = ["/content/drive/MyDrive/csv/despesa_ceaps_2022.csv",
             "/content/drive/MyDrive/csv/despesa_ceaps_2021.csv",
             "/content/drive/MyDrive/csv/despesa_ceaps_2020.csv"]

# Função para gerar DataFrames a partir de arquivos CSV
def gerar_ds(lista_arquivos):
    lista_ds = []
    for arquivo in lista_arquivos:
        try:
            df = pd.read_csv(arquivo, encoding="latin-1", sep=';', on_bad_lines='skip')
            lista_ds.append(df)
        except Exception as e:
            print(f"Erro ao carregar o arquivo {arquivo}: {e}")
    return lista_ds

# Gerar a lista de DataFrames
gerar_data = gerar_ds(lista_csv)

# Concatenar todos os DataFrames em um único DataFrame
df_unico = pd.concat(gerar_data, ignore_index=True)

# Exibir os primeiros registros do DataFrame concatenado
print(df_unico.head(4))

  ULTIMA ATUALIZACAO 22/09/2024 02:01 23/09/2024 02:00
0  VALOR_REEMBOLSADO    COD_DOCUMENTO              NaN
1               6000          2173614              NaN
2               1500          2173615              NaN
3               6000          2173616              NaN

In [3]:
df_unico.head(10)

  ULTIMA ATUALIZACAO 22/09/2024 02:01 23/09/2024 02:00
0  VALOR_REEMBOLSADO    COD_DOCUMENTO              NaN
1               6000          2173614              NaN
2               1500          2173615              NaN
3               6000          2173616              NaN
4               1000          2173618              NaN
5               2000          2173617              NaN
6            1000,36          2174218              NaN
7               6000          2174221              NaN
8               6000          2174981              NaN
9               1500          2174982              NaN

In [4]:
df_unico.columns

Index(['ULTIMA ATUALIZACAO', '22/09/2024 02:01', '23/09/2024 02:00'], dtype='object')

In [5]:
df_unico['ULTIMA ATUALIZACAO']

0        VALOR_REEMBOLSADO
1                     6000
2                     1500
3                     6000
4                     1000
               ...
47720              1654,46
47721              1121,83
47722               549,47
47723               831,05
47724              2026,12
Name: ULTIMA ATUALIZACAO, Length: 47725, dtype: object

In [6]:
df_unico['22/09/2024 02:01']

0        COD_DOCUMENTO
1              2173614
2              2173615
3              2173616
4              2173618
             ...
47720              NaN
47721              NaN
47722              NaN
47723              NaN
47724              NaN
Name: 22/09/2024 02:01, Length: 47725, dtype: object

In [7]:
df_unico['23/09/2024 02:00']

0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
          ...
47720    2152858
47721    2152859
47722    2153157
47723    2153152
47724    2153557
Name: 23/09/2024 02:00, Length: 47725, dtype: object

In [15]:
df_limpo = df_unico.drop(columns=['22/09/2024 02:01'])

In [16]:
df_limpo = df_unico.drop(columns=['23/09/2024 02:00'])

In [17]:
df_limpo.columns

Index(['ULTIMA ATUALIZACAO', '22/09/2024 02:01'], dtype='object')

In [18]:
df_limpo = df_unico.drop(columns=['22/09/2024 02:01'])

In [19]:
df_limpo.columns

Index(['ULTIMA ATUALIZACAO', '23/09/2024 02:00'], dtype='object')

In [21]:
df_limpo = df_unico.drop(columns=['23/09/2024 02:00'])

In [22]:
df_limpo.columns

Index(['ULTIMA ATUALIZACAO', '22/09/2024 02:01'], dtype='object')