<a href="https://colab.research.google.com/github/jeniferGoncalvesDaSilvaDev/7daysofcode-ds-alura2/blob/main/desafio_7daysofcode_ds_alura.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [172]:
import pandas as pd

In [173]:


# Lista de arquivos CSV
lista_csv = ["/content/drive/MyDrive/csv/despesa_ceaps_2022.csv",
             "/content/drive/MyDrive/csv/despesa_ceaps_2021.csv",
             "/content/drive/MyDrive/csv/despesa_ceaps_2020.csv"]

# Função para gerar DataFrames a partir de arquivos CSV
def gerar_ds(lista_arquivos):
    lista_ds = []
    for arquivo in lista_arquivos:
        try:
            df = pd.read_csv(arquivo, encoding="latin-1", sep=';', on_bad_lines='skip')
            lista_ds.append(df)
        except Exception as e:
            print(f"Erro ao carregar o arquivo {arquivo}: {e}")
    return lista_ds

# Gerar a lista de DataFrames
gerar_data = gerar_ds(lista_csv)

# Concatenar todos os DataFrames em um único DataFrame
df_unico = pd.concat(gerar_data, ignore_index=False)

# Exibir os primeiros registros do DataFrame concatenado
print(df_unico.head(4))

                                                                                                                                                                                                            ULTIMA ATUALIZACAO  \
ANO  MES SENADOR      TIPO_DESPESA                                       CNPJ_CPF           FORNECEDOR                      DOCUMENTO         DATA       DETALHAMENTO                                        VALOR_REEMBOLSADO
2022 1   ACIR GURGACZ Aluguel de imóveis para escritório político, co... 004.948.028-63     GILBERTO PISELO DO NASCIMENTO   001/22            03/01/2022 Despesa com pagamento de aluguel de imóvel para...               6000
                      Divulgação da atividade parlamentar                26.320.603/0001-64 INFORMANAHORA                   000000000000310/A 04/01/2022 Despesa com divulgação da atividade parlamentar...               1500
                                                                         13.659.201/0001-47 LINHA PURPURA FOTO E VIDEO LTDA 107               14/01/2022 Despesa com produção de texto e edição de vídeo...               6000

                                                                                                                                                                                                            22/09/2024 02:01  \
ANO  MES SENADOR      TIPO_DESPESA                                       CNPJ_CPF           FORNECEDOR                      DOCUMENTO         DATA       DETALHAMENTO                                          COD_DOCUMENTO
2022 1   ACIR GURGACZ Aluguel de imóveis para escritório político, co... 004.948.028-63     GILBERTO PISELO DO NASCIMENTO   001/22            03/01/2022 Despesa com pagamento de aluguel de imóvel para...          2173614
                      Divulgação da atividade parlamentar                26.320.603/0001-64 INFORMANAHORA                   000000000000310/A 04/01/2022 Despesa com divulgação da atividade parlamentar...          2173615
                                                                         13.659.201/0001-47 LINHA PURPURA FOTO E VIDEO LTDA 107               14/01/2022 Despesa com produção de texto e edição de vídeo...          2173616

                                                                                                                                                                                                            23/09/2024 02:00
ANO  MES SENADOR      TIPO_DESPESA                                       CNPJ_CPF           FORNECEDOR                      DOCUMENTO         DATA       DETALHAMENTO                                                    NaN
2022 1   ACIR GURGACZ Aluguel de imóveis para escritório político, co... 004.948.028-63     GILBERTO PISELO DO NASCIMENTO   001/22            03/01/2022 Despesa com pagamento de aluguel de imóvel para...              NaN
                      Divulgação da atividade parlamentar                26.320.603/0001-64 INFORMANAHORA                   000000000000310/A 04/01/2022 Despesa com divulgação da atividade parlamentar...              NaN
                                                                         13.659.201/0001-47 LINHA PURPURA FOTO E VIDEO LTDA 107               14/01/2022 Despesa com produção de texto e edição de vídeo...              NaN

In [174]:
df_unico.columns

Index(['ULTIMA ATUALIZACAO', '22/09/2024 02:01', '23/09/2024 02:00'], dtype='object')

In [175]:
df_limpo = df_unico.drop(columns=['22/09/2024 02:01'])

In [176]:
df_limpo = df_unico.drop(columns=['23/09/2024 02:00'])

In [177]:
df_limpo.columns

Index(['ULTIMA ATUALIZACAO', '22/09/2024 02:01'], dtype='object')

In [178]:
df_limpo = df_unico.drop(columns=['22/09/2024 02:01'])

In [179]:
df_limpo.columns

Index(['ULTIMA ATUALIZACAO', '23/09/2024 02:00'], dtype='object')

In [180]:
df_limpo = df_unico.drop(columns=['23/09/2024 02:00'])

In [181]:
df_limpo.columns

Index(['ULTIMA ATUALIZACAO', '22/09/2024 02:01'], dtype='object')

In [182]:
df_novo = pd.DataFrame(df_limpo['ULTIMA ATUALIZACAO'])

In [183]:
df_novo.columns

Index(['ULTIMA ATUALIZACAO'], dtype='object')

In [184]:
print(df_novo)

                                                                                                                                                                                                                  ULTIMA ATUALIZACAO
ANO  MES SENADOR          TIPO_DESPESA                                       CNPJ_CPF           FORNECEDOR                        DOCUMENTO         DATA       DETALHAMENTO                                        VALOR_REEMBOLSADO
2022 1   ACIR GURGACZ     Aluguel de imóveis para escritório político, co... 004.948.028-63     GILBERTO PISELO DO NASCIMENTO     001/22            03/01/2022 Despesa com pagamento de aluguel de imóvel para...               6000
                          Divulgação da atividade parlamentar                26.320.603/0001-64 INFORMANAHORA                     000000000000310/A 04/01/2022 Despesa com divulgação da atividade parlamentar...               1500
                                                                             13.659.201/0001-47 LINHA PURPURA FOTO E VIDEO LTDA   107               14/01/2022 Despesa com produção de texto e edição de vídeo...               6000
                                                                             23.652.846/0001-01 ROBERTO GUTIERREZ DA ROCHA M.E.I. 187               18/01/2022 Divulgação da atividade parlamentar                              1000
...                                                                                                                                                                                                                              ...
2020 12  ZEQUINHA MARINHO Passagens aéreas, aquáticas e terrestres nacionais 22.052.777/0001-32 Exceller Tour                     TJ9NGF            08/12/2020 Companhia Aérea: GOL, Localizador: TJ9NGF. Pass...            1654,46
                                                                                                                                  QN9KHE            09/12/2020 Companhia Aérea: AZUL, Localizador: QN9KHE. Pas...            1121,83
                                                                                                                                  QIGVKT            14/12/2020 Companhia Aérea: AZUL, Localizador: QIGVKT. Pas...             549,47
                                                                                                                                  QDHKYF            14/12/2020 Companhia Aérea: AZUL, Localizador: QDHKYF. Pas...             831,05
                                                                                                                                  BQWCVK            18/12/2020 Companhia Aérea: GOL, Localizador: BQWCVK. Pass...            2026,12

[47725 rows x 1 columns]

In [185]:
df_novo.index

MultiIndex([( 'ANO', 'MES',          'SENADOR', ...),
            ('2022',   '1',     'ACIR GURGACZ', ...),
            ('2022',   '1',     'ACIR GURGACZ', ...),
            ('2022',   '1',     'ACIR GURGACZ', ...),
            ('2022',   '1',     'ACIR GURGACZ', ...),
            ('2022',   '1',     'ACIR GURGACZ', ...),
            ('2022',   '1',     'ACIR GURGACZ', ...),
            ('2022',   '2',     'ACIR GURGACZ', ...),
            ('2022',   '2',     'ACIR GURGACZ', ...),
            ('2022',   '2',     'ACIR GURGACZ', ...),
            ...
            ('2020',  '12', 'ZEQUINHA MARINHO', ...),
            ('2020',  '12', 'ZEQUINHA MARINHO', ...),
            ('2020',  '12', 'ZEQUINHA MARINHO', ...),
            ('2020',  '12', 'ZEQUINHA MARINHO', ...),
            ('2020',  '12', 'ZEQUINHA MARINHO', ...),
            ('2020',  '12', 'ZEQUINHA MARINHO', ...),
            ('2020',  '12', 'ZEQUINHA MARINHO', ...),
            ('2020',  '12', 'ZEQUINHA MARINHO', ...),
            ('2020',  '12', 'ZEQUINHA MARINHO', ...),
            ('2020',  '12', 'ZEQUINHA MARINHO', ...)],
           length=47725)

In [186]:
coluna = df_novo.index[0]
print(coluna)
print(len(coluna))

('ANO', 'MES', 'SENADOR', 'TIPO_DESPESA', 'CNPJ_CPF', 'FORNECEDOR', 'DOCUMENTO', 'DATA', 'DETALHAMENTO')
9

In [187]:
linhas = df_novo.index[1:]

In [188]:
print(linhas[0:5])

MultiIndex([('2022', '1', 'ACIR GURGACZ', ...),
            ('2022', '1', 'ACIR GURGACZ', ...),
            ('2022', '1', 'ACIR GURGACZ', ...),
            ('2022', '1', 'ACIR GURGACZ', ...),
            ('2022', '1', 'ACIR GURGACZ', ...)],
           )

In [189]:
def criar_dict():
    my_dict = {} # Create an empty dictionary
    my_dict["ano"] = coluna[0] # Remove the comma after coluna[0]
    my_dict["mes"] = coluna[1] # Remove the comma after coluna[1]
    my_dict["senador"] = coluna[2] # Remove the comma after coluna[2]
    my_dict["despesa"] = coluna[3] # Remove the comma after coluna[3]
    my_dict["cnpj/cpf"] = coluna[4] # Remove the comma after coluna[4]
    my_dict["fornecedot"] = coluna[5] # Remove the comma after coluna[5]
    my_dict["documento"] = coluna[6] # Remove the comma after coluna[6]
    my_dict["data"] = coluna[7] # Remove the comma after coluna[7]
    my_dict["detalhe"]= coluna[8] # Remove the comma after coluna[8]
    return my_dict # Return the created dictionary

In [190]:
dict_columns= criar_dict()
print(dict_columns)

{'ano': 'ANO', 'mes': 'MES', 'senador': 'SENADOR', 'despesa': 'TIPO_DESPESA', 'cnpj/cpf': 'CNPJ_CPF', 'fornecedot': 'FORNECEDOR', 'documento': 'DOCUMENTO', 'data': 'DATA', 'detalhe': 'DETALHAMENTO'}

In [191]:
linhas =list(linhas)

In [192]:
def interar_linhas():
    result = []  # Create a list to store the values
    for i in range(len(linhas)):
        inner_list = []  # Create a list for each inner list
        for j in range(len(linhas[i])):
            inner_list.append(linhas[i][j])
        result.append(inner_list)  # Add the inner list to the result
    return result  # Return the result list

tela = interar_linhas()

In [193]:
 #Import the pandas module

def dict_valores(dict_columns, tela):
    # Create a list to store the dictionaries
    list_of_dicts = []
    for row in tela:
        # Create a dictionary for each row
        row_dict = {}
        for key, value in zip(dict_columns.keys(), row):
            row_dict[key] = value
        list_of_dicts.append(row_dict)

    return list_of_dicts

result = dict_valores(dict_columns, tela)
df_novo_2 = pd.DataFrame(result) #Create the DataFrame from the list of dictionaries
print(df_novo_2)

        ano mes           senador  \
0      2022   1      ACIR GURGACZ
1      2022   1      ACIR GURGACZ
2      2022   1      ACIR GURGACZ
3      2022   1      ACIR GURGACZ
4      2022   1      ACIR GURGACZ
...     ...  ..               ...
47719  2020  12  ZEQUINHA MARINHO
47720  2020  12  ZEQUINHA MARINHO
47721  2020  12  ZEQUINHA MARINHO
47722  2020  12  ZEQUINHA MARINHO
47723  2020  12  ZEQUINHA MARINHO

                                                 despesa            cnpj/cpf  \
0      Aluguel de imóveis para escritório político, c...      004.948.028-63
1                    Divulgação da atividade parlamentar  26.320.603/0001-64
2                    Divulgação da atividade parlamentar  13.659.201/0001-47
3                    Divulgação da atividade parlamentar  23.652.846/0001-01
4                    Divulgação da atividade parlamentar  08.941.827/0001-01
...                                                  ...                 ...
47719  Passagens aéreas, aquáticas e terrestres nacio...  22.052.777/0001-32
47720  Passagens aéreas, aquáticas e terrestres nacio...  22.052.777/0001-32
47721  Passagens aéreas, aquáticas e terrestres nacio...  22.052.777/0001-32
47722  Passagens aéreas, aquáticas e terrestres nacio...  22.052.777/0001-32
47723  Passagens aéreas, aquáticas e terrestres nacio...  22.052.777/0001-32

                                              fornecedot          documento  \
0                          GILBERTO PISELO DO NASCIMENTO             001/22
1                                          INFORMANAHORA  000000000000310/A
2                        LINHA PURPURA FOTO E VIDEO LTDA                107
3                      ROBERTO GUTIERREZ DA ROCHA M.E.I.                187
4      RONDONIA DINÂMICA COM. E SERV. DE INFORMÁTICA ...  000000000001772/A
...                                                  ...                ...
47719                                      Exceller Tour             TJ9NGF
47720                                      Exceller Tour             QN9KHE
47721                                      Exceller Tour             QIGVKT
47722                                      Exceller Tour             QDHKYF
47723                                      Exceller Tour             BQWCVK

             data                                            detalhe
0      03/01/2022  Despesa com pagamento de aluguel de imóvel par...
1      04/01/2022  Despesa com divulgação da atividade parlamenta...
2      14/01/2022  Despesa com produção de texto e edição de víde...
3      18/01/2022                Divulgação da atividade parlamentar
4      17/01/2022                Divulgação da atividade parlamentar
...           ...                                                ...
47719  08/12/2020  Companhia Aérea: GOL, Localizador: TJ9NGF. Pas...
47720  09/12/2020  Companhia Aérea: AZUL, Localizador: QN9KHE. Pa...
47721  14/12/2020  Companhia Aérea: AZUL, Localizador: QIGVKT. Pa...
47722  14/12/2020  Companhia Aérea: AZUL, Localizador: QDHKYF. Pa...
47723  18/12/2020  Companhia Aérea: GOL, Localizador: BQWCVK. Pas...

[47724 rows x 9 columns]

In [194]:
df_novo_2['ano']

0        2022
1        2022
2        2022
3        2022
4        2022
         ...
47719    2020
47720    2020
47721    2020
47722    2020
47723    2020
Name: ano, Length: 47724, dtype: object

In [195]:
df_novo_2['detalhe']

0        Despesa com pagamento de aluguel de imóvel par...
1        Despesa com divulgação da atividade parlamenta...
2        Despesa com produção de texto e edição de víde...
3                      Divulgação da atividade parlamentar
4                      Divulgação da atividade parlamentar
                               ...
47719    Companhia Aérea: GOL, Localizador: TJ9NGF. Pas...
47720    Companhia Aérea: AZUL, Localizador: QN9KHE. Pa...
47721    Companhia Aérea: AZUL, Localizador: QIGVKT. Pa...
47722    Companhia Aérea: AZUL, Localizador: QDHKYF. Pa...
47723    Companhia Aérea: GOL, Localizador: BQWCVK. Pas...
Name: detalhe, Length: 47724, dtype: object

In [196]:
df_novo_2.columns

Index(['ano', 'mes', 'senador', 'despesa', 'cnpj/cpf', 'fornecedot',
       'documento', 'data', 'detalhe'],
      dtype='object')

In [197]:
df_novo_3 = df_novo_2.drop(columns=['cnpj/cpf'])

In [198]:
df_novo_3 = df_novo_2.drop(columns=['documento'])

In [199]:
df_novo_3.columns

Index(['ano', 'mes', 'senador', 'despesa', 'cnpj/cpf', 'fornecedot', 'data',
       'detalhe'],
      dtype='object')

In [200]:



# Converter a coluna para datetime e extrair o ano
df_novo_3['data'] = pd.to_datetime(df_novo_3['data'], errors='coerce').dt.day

print(df_novo_3['data'])

0         1.0
1         1.0
2         NaN
3         NaN
4         NaN
         ...
47719    12.0
47720    12.0
47721     NaN
47722     NaN
47723     NaN
Name: data, Length: 47724, dtype: float64

In [201]:
# Converter a coluna para datetime e extrair o ano
df_novo_3['ano'] = pd.to_datetime(df_novo_3['ano'], errors='coerce').dt.year

print(df_novo_3['ano'])

0        2022.0
1        2022.0
2        2022.0
3        2022.0
4        2022.0
          ...
47719    2020.0
47720    2020.0
47721    2020.0
47722    2020.0
47723    2020.0
Name: ano, Length: 47724, dtype: float64

In [202]:
# Converter a coluna para datetime e extrair o ano
df_novo_3['mes'] = pd.to_datetime(df_novo_3['mes'], errors='coerce').dt.month

print(df_novo_3['mes'])

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
         ..
47719   NaN
47720   NaN
47721   NaN
47722   NaN
47723   NaN
Name: mes, Length: 47724, dtype: float64

<ipython-input-202-d92bd4056946>:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_novo_3['mes'] = pd.to_datetime(df_novo_3['mes'], errors='coerce').dt.month

In [203]:
#colunas object para string
df_novo_3['senador'] = df_novo_3['senador'].astype(str)
print(df_novo_3['senador'])

0            ACIR GURGACZ
1            ACIR GURGACZ
2            ACIR GURGACZ
3            ACIR GURGACZ
4            ACIR GURGACZ
               ...
47719    ZEQUINHA MARINHO
47720    ZEQUINHA MARINHO
47721    ZEQUINHA MARINHO
47722    ZEQUINHA MARINHO
47723    ZEQUINHA MARINHO
Name: senador, Length: 47724, dtype: object

In [204]:
#colunas object para string
#colunas object para string
df_novo_3['despesa'] = df_novo_3['despesa'].astype(str)
print(df_novo_3['despesa'])

0        Aluguel de imóveis para escritório político, c...
1                      Divulgação da atividade parlamentar
2                      Divulgação da atividade parlamentar
3                      Divulgação da atividade parlamentar
4                      Divulgação da atividade parlamentar
                               ...
47719    Passagens aéreas, aquáticas e terrestres nacio...
47720    Passagens aéreas, aquáticas e terrestres nacio...
47721    Passagens aéreas, aquáticas e terrestres nacio...
47722    Passagens aéreas, aquáticas e terrestres nacio...
47723    Passagens aéreas, aquáticas e terrestres nacio...
Name: despesa, Length: 47724, dtype: object

In [205]:
#colunas object para string
df_novo_3['detalhe'] = df_novo_3['detalhe'].astype(str)
print(df_novo_3['detalhe'])

0        Despesa com pagamento de aluguel de imóvel par...
1        Despesa com divulgação da atividade parlamenta...
2        Despesa com produção de texto e edição de víde...
3                      Divulgação da atividade parlamentar
4                      Divulgação da atividade parlamentar
                               ...
47719    Companhia Aérea: GOL, Localizador: TJ9NGF. Pas...
47720    Companhia Aérea: AZUL, Localizador: QN9KHE. Pa...
47721    Companhia Aérea: AZUL, Localizador: QIGVKT. Pa...
47722    Companhia Aérea: AZUL, Localizador: QDHKYF. Pa...
47723    Companhia Aérea: GOL, Localizador: BQWCVK. Pas...
Name: detalhe, Length: 47724, dtype: object

In [207]:
# Lista de arquivos CSV
lista_csv = ["/content/drive/MyDrive/csv/despesa_ceaps_2022.csv",
             "/content/drive/MyDrive/csv/despesa_ceaps_2021.csv",
             "/content/drive/MyDrive/csv/despesa_ceaps_2020.csv"]

# Função para gerar DataFrames a partir de arquivos CSV
def gerar_ds(lista_arquivos):
    lista_ds = []
    for arquivo in lista_arquivos:
        try:
            df = pd.read_csv(arquivo, encoding="latin-1", sep=';', on_bad_lines='skip')
            lista_ds.append(df)
        except Exception as e:
            print(f"Erro ao carregar o arquivo {arquivo}: {e}")
    return lista_ds

# Gerar a lista de DataFrames
gerar_data = gerar_ds(lista_csv)

# Concatenar todos os DataFrames em um único DataFrame
df_unico_2 = pd.concat(gerar_data, ignore_index=True)

# Exibir os primeiros registros do DataFrame concatenado
print(df_unico_2.head(4))

  ULTIMA ATUALIZACAO 22/09/2024 02:01 23/09/2024 02:00
0  VALOR_REEMBOLSADO    COD_DOCUMENTO              NaN
1               6000          2173614              NaN
2               1500          2173615              NaN
3               6000          2173616              NaN

In [208]:
df_unico_2= df_unico_2['ULTIMA ATUALIZACAO']
print(df_unico_2)

0        VALOR_REEMBOLSADO
1                     6000
2                     1500
3                     6000
4                     1000
               ...
47720              1654,46
47721              1121,83
47722               549,47
47723               831,05
47724              2026,12
Name: ULTIMA ATUALIZACAO, Length: 47725, dtype: object

In [209]:
# Replace 'actual_column_name' with the correct column name from your DataFrame
df_unico_2['valor reembolsado'] = df_unico_2

In [210]:
df_novo_4 = df_novo_3.merge(df_unico_2, left_index=True, right_index=True)

In [211]:
df_novo_4['ULTIMA ATUALIZACAO']

0        VALOR_REEMBOLSADO
1                     6000
2                     1500
3                     6000
4                     1000
               ...
47719                44,76
47720              1654,46
47721              1121,83
47722               549,47
47723               831,05
Name: ULTIMA ATUALIZACAO, Length: 47724, dtype: object

In [212]:
df_novo_4['valor reembolso'] =df_novo_4['ULTIMA ATUALIZACAO']

In [213]:
df_novo_4.columns

Index(['ano', 'mes', 'senador', 'despesa', 'cnpj/cpf', 'fornecedot', 'data',
       'detalhe', 'ULTIMA ATUALIZACAO', 'valor reembolso'],
      dtype='object')

In [214]:
df_novo_4['valor reembolso']

0        VALOR_REEMBOLSADO
1                     6000
2                     1500
3                     6000
4                     1000
               ...
47719                44,76
47720              1654,46
47721              1121,83
47722               549,47
47723               831,05
Name: valor reembolso, Length: 47724, dtype: object

In [215]:
df_novo_4= df_novo_4.drop(columns = ['ULTIMA ATUALIZACAO'])

In [216]:
df_novo_4.columns

Index(['ano', 'mes', 'senador', 'despesa', 'cnpj/cpf', 'fornecedot', 'data',
       'detalhe', 'valor reembolso'],
      dtype='object')

In [217]:
df_novo_4 = df_novo_4.drop(columns=['cnpj/cpf'])

In [218]:
df_novo_4.columns

Index(['ano', 'mes', 'senador', 'despesa', 'fornecedot', 'data', 'detalhe',
       'valor reembolso'],
      dtype='object')

In [222]:
# Supondo que o seu DataFrame original tenha sido carregado assim:
# df = pd.read_csv('seu_arquivo.csv')  # ou outro método de carregamento

# Remover as vírgulas e converter para float
df_novo_4['valor reembolso']= df_novo_4['valor reembolso'].str.replace(',', '.').astype(float)

ValueError: could not convert string to float: 'VALOR_REEMBOLSADO'